@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root{
    --color-1: #667085;
    --color-2: #8E2424;
    --color-2-background: #8e24240d;
    --background-2: #c4191908;
    --background-footer: #F9FAFB;
    --color-3: #101828;
    --color-box-border: #EAECF0;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-footer-box-border: #D0D5DD;
    --color-footer-box-shadow: #1018280d;
    --font-inter: 'Inter', sans-serif;
}


.nav{
    height: 80px;
    background-color: var(--color-white);
    /* margin: 0 10% 0 10%; */
    padding: 0 4% 0 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 1em;
}

.nav-menu{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.nav-menu-items{
    display: inline-flex;
    margin-right: 32px;
}

.nav-menu-items-links, .nav-menu-items-links:visited{
    color: var(--color-1);
    text-decoration: none;
}

.nav-buttons{
    word-spacing: 12px;
}

.nav-buttons-login{
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 1em;
    color: var(--color-1);
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px 18px;
}

.nav-buttons-register{
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 1em;
    color: var(--color-white);
    border: none;
    background-color: var(--color-2);
    cursor: pointer;
    padding: 10px 18px;
    border-radius: 8px;
}

.nav-mobile{
    display: none;
}

.header-aboutus{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    /* margin: 96px 324px; */
    margin: 5% 0;
    font-family: var(--font-inter);
}

.header-aboutus-title{
    color: var(--color-2);
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 2%;
}

.header-aboutus-subtitle{
    color: var(--color-black);
    font-weight: 600;
    font-size: 3em;
    letter-spacing: -0.02em;
}

.header-aboutus-text{
    color: var(--color-1);
    font-weight: 400;
    font-size: 1.25em;
    text-align: center;
    margin-top: 2%;
    line-height: 30px;
    padding: 0 28%;
}

.metrics{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 5% 8%;
    gap: 2em;
}

.metrics-cards{
    width: 17.5em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    font-family: var(--font-inter);
}

.metrics-cards-value{
    font-weight: 600;
    font-size: 3.75em;
    letter-spacing: -0.02em;
    color: var(--color-2);
    margin-bottom: 12px;
}

.metrics-cards-title{
    font-weight: 500;
    font-size: 1.125em;
    color: var(--color-black);
    margin-bottom: 8px;
}

.metrics-cards-text{
    font-weight: 400;
    font-size: 1em;
    color: var(--color-1);
    line-height: 24px;
}

.jobs{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 12.25em 0 0 0;
}

.jobs-text{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: var(--font-inter);
}

.jobs-image{
    width: 87%;
}

.jobs-text-header{
    color: var(--color-2);
    background-color: #8e24240d;
    border-radius: 1em;
    padding: 0.25em 0.75em;
    margin-bottom: 1em;
}

.jobs-text-title{
    color: var(--color-black);
    font-weight: 600;
    font-size: 2.25em;
    margin-bottom: 1em;
}

.jobs-text-description{
    color: var(--color-1);
    font-weight: 400;
    font-size: 1.25em;
    margin-bottom: 4em;
}

.jobs-opportunities{
    display: flex;
    flex-flow: column wrap;
    font-family: var(--font-inter);
    width: 55%;
    margin: 5% 0;
    gap: 50px;
}

.jobs-opportunities-design{
    flex-flow: column wrap;
    margin-bottom: 3%;
}

.jobs-opportunities-development{
    flex-flow: column wrap;
}

.jobs-opportunities-title{
    color: var(--color-3);
    font-size: 1.25em;
    font-weight: 500;
    padding: 5% 0;
}

.jobs-opportunities-box{
    padding: 1.5em;
    margin-bottom: 1.5em;
    border: 1px solid #EAECF0;
    border-radius: 1em;
    line-height: 3em;
}

.jobs-opportunities-box-title{
    font-weight: 500;
    color: var(--color-3);
    font-size: 1.125em;
}

.jobs-opportunities-box-info{
    display: flex;
    flex-flow: row wrap;
    font-size: 1em;
    color: var(--color-1);
    gap: 2em;
}

.feedbacks{
    margin: 3em 4em;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-family: var(--font-inter);
    font-weight: 500;
    background-color: var(--background-2);
    border-radius: 1em;
    padding: 4em;
}

.feedbacks-title{
    font-weight: 600;
    font-size: 0.875em;
    color: var(--color-2);
}

.feedbacks-text{
    font-size: 2.25em;
    letter-spacing: -0.02em;
    color: var(--color-3);
    text-align: center;
    margin: 1em 0 1.25em 0;
}

.feedbacks-name{
    font-size: 1em;
    color: var(--color-3);
    margin: 1em 0 0.75em 0;
}

.feedbacks-job{
    font-weight: 400;
    font-size: 0.875em;
    color: var(--color-1);
}

.footer{
    width: 100%;
    background-color: var(--background-footer);
    font-family: var(--font-inter);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6em 19em 2em 19em;
    width: 60%;
}

.footer-title{
    font-size: 2.25em;
    letter-spacing: -0.02em;
    font-weight: 600;  
    color: var(--color-black);
}

.footer-text{
    font-size: 1.25em;
    color: var(--color-1);
    margin: 2em 0;
}

.footer-button{
    width: 100%;
    text-align: center;
}

.footer-input-box{
    font-size: 1em;
    color: var(--color-1);
    border-radius: 0.5em;
    border: 1px solid var(--color-footer-box-border);
    box-shadow: 0px 1px 2px var(--color-footer-box-shadow);
    font-family: var(--font-inter);
    padding: 0.75em 0.75em;
    width: 30%;
    margin-right: 1em;
}

.footer-input-button{
    font-size: 1em;
    color: var(--color-white);
    border-radius: 0.5em;
    background-color: var(--color-2);
    border: 1px solid var(--color-2);
    box-shadow: 0px 1px 2px var(--color-footer-box-shadow);
    font-family: var(--font-inter);
    padding: 0.75em 1em;

}

.footer-copyright{
    font-size: 1em;
    color: var(--color-1);
    margin-bottom: 6em;
}

@media (max-width: 850px) {
    .nav{
        flex-wrap: wrap;
        margin: 5% 0;
        padding-bottom: 10%;
        gap: 30px;
    }
    .nav-menu{
        order: 3;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
    }

    .nav-menu-items{
        margin-right: 0px;
    }
    .nav-buttons{
        text-align: center;
    }
    .nav-mobile{
        display: flex;
        align-items: flex-end;
        margin: 3% 10%;
        padding: 0px;
    }
    .header-aboutus-title{
        margin: 10% 0%;
    }
    .header-aboutus-subtitle{
        text-align: center;
    }
    .header-aboutus-text{
        text-align: center;
        padding: 0 5%;
        margin: 10% 0;
    }
    .metrics-cards{
        align-items: center;
        width: 100%;
        margin: 0;
    }
    .jobs{
        text-align: center;
        margin: 0 5%;
    }
    .jobs-opportunities{
        width: 95%;
    }
    .jobs-opportunities-box{
        text-align: justify;
    }
    .jobs-opportunities-box-info{
        text-align: right;
    }
    .feedbacks{
        margin: 2em;
        padding: 2em 1em;
    }
    .feedbacks-title{
        text-align: center;
    }
    .feedbacks-text{
        font-size: 1.5em;
    }
    .footer{

    }
    .footer-container{
        width: 90%;
        margin: 3em 2em;
        text-align: center;
    }
    .footer-title{
        font-size: 1.5em;
    }
    .footer-text{
        font-size: 1em;
    }
    .footer-copyright{
        text-align: center;
    }
}