@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root{
    --color-1: #667085;
    --color-2: #8E2424;
    --color-2-background: #8e24240d;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --font-inter: 'Inter', sans-serif;
}


.nav{
    height: 80px;
    background-color: var(--color-white);
    /* margin: 0 10% 0 10%; */
    padding: 0 4% 0 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 1em;
}

.nav-menu{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.nav-menu-items{
    display: inline-flex;
    margin-right: 32px;
}

.nav-menu-items-links, .nav-menu-items-links:visited{
    color: var(--color-1);
    text-decoration: none;
}

.nav-buttons{
    word-spacing: 12px;
}

.nav-buttons-login{
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 1em;
    color: var(--color-1);
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px 18px;
}

.nav-buttons-register{
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 1em;
    color: var(--color-white);
    border: none;
    background-color: var(--color-2);
    cursor: pointer;
    padding: 10px 18px;
    border-radius: 8px;
}

.header-aboutus{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    /* margin: 96px 324px; */
    margin: 5% 0;
    font-family: var(--font-inter);
}

.header-aboutus-title{
    color: var(--color-2);
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 2%;
}

.header-aboutus-subtitle{
    color: var(--color-black);
    font-weight: 600;
    font-size: 3em;
    letter-spacing: -0.02em;
}

.header-aboutus-text{
    color: var(--color-1);
    font-weight: 400;
    font-size: 1.25em;
    text-align: center;
    margin-top: 2%;
    line-height: 30px;
    padding: 0 28%;
}

.metrics{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 5% 8%;
    gap: 2em;
}

.metrics-cards{
    width: 17.5em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    font-family: var(--font-inter);
}

.metrics-cards-value{
    font-weight: 600;
    font-size: 3.75em;
    letter-spacing: -0.02em;
    color: var(--color-2);
    margin-bottom: 12px;
}

.metrics-cards-title{
    font-weight: 500;
    font-size: 1.125em;
    color: var(--color-black);
    margin-bottom: 8px;
}

.metrics-cards-text{
    font-weight: 400;
    font-size: 1em;
    color: var(--color-1);
    line-height: 24px;
}

.jobs{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 12.25em 0;
}

.jobs-text{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: var(--font-inter);
}

.jobs-image{
    width: 87%;
}

.jobs-text-header{
    color: var(--color-2);
    background-color: #8e24240d;
    border-radius: 1em;
    padding: 0.25em 0.75em;
    margin-bottom: 1em;
}

.jobs-text-title{
    color: var(--color-black);
    font-weight: 600;
    font-size: 2.25em;
    margin-bottom: 1em;
}

.jobs-text-description{
    color: var(--color-1);
    font-weight: 400;
    font-size: 1.25em;
    margin-bottom: 4em;
}

