@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root{
    --color-1: #667085;
    --color-2: #8E2424;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --font-inter: 'Inter', sans-serif;
}


.nav{
    height: 80px;
    background-color: var(--color-white);
    /* margin: 0 10% 0 10%; */
    padding: 0 4% 0 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 16px;
}

.nav-menu{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.nav-menu-items{
    display: inline-flex;
    margin-right: 32px;
}

.nav-menu-items-links, .nav-menu-items-links:visited{
    color: var(--color-1);
    text-decoration: none;
}

.nav-buttons{
    word-spacing: 12px;
}

.nav-buttons-login{
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 16px;
    color: var(--color-1);
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px 18px;
}

.nav-buttons-register{
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 16px;
    color: var(--color-white);
    border: none;
    background-color: var(--color-2);
    cursor: pointer;
    padding: 10px 18px;
    border-radius: 8px;
}

.header-aboutus{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    /* margin: 96px 324px; */
    margin: 5% 0;
    font-family: var(--font-inter);
}

.header-aboutus-title{
    color: var(--color-2);
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 2%;
}

.header-aboutus-subtitle{
    color: var(--color-black);
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -0.02em;
}

.header-aboutus-text{
    color: var(--color-1);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-top: 2%;
    line-height: 30px;
    padding: 0 28%;
}